.chat-main
  .chat-main__group-info
    .left-box
      .left-box__current-grop
        test
      .left-box__member-list
        Member:test
    .edit-btn
      = link_to '#' do
        Edit
  .chat-main__messages
    .chat-main__message
      .upper-info
        .upper-info__talker
          test
        .upper-info__dete
          2020/07/23(thu) 22:00
      .text
        aaa
  .form
    %form.new_message
      .input-box
        %input{type: "text",class: "input-box__text",placeholder: "type a message"}
        %ladel{class: "input-box__image"}
          = icon('far','image')
          %input{type: "file", class: "input-box__image__file"}
      %input{type: "submit", class: "submit-btm"}