.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .name
        = current_user.name
      .icons
        .icons__edit
          = link_to '#' do
            %i.fa.fa-edit
        .icons__new
          = link_to edit_user_path(current_user) do
            %i.fa.fa-cog
  .side-bar__group-list
    .name
      test
    .message
      まだメッセージがありません