.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        test
      .top-items__icons
        .top-items__icons--edit
          = link_to '#' do
            %i.fa.fa-edit
        .top-items__icons--new
          = link_to '#' do
            %i.far.fa-cog
  .side-bar__group-list
    .sid-bar__group-name
      test
    .sid-bar__group-message
      まだメッセージがありません